services/*/node_modules
services/*/.env
services/*/.env*
terraform/*.tfvars
terraform/.terraform
website/**/node_modules
website/server/services/relayer/node_modules
website/node_modules
services/**/tsconfig.tsbuildinfo
deployments/
node_modules/
out/
cache/
.env
.env.*

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log
localstack-volume